openapi: 3.0.0
info:
  title: Koli One Vehicle Marketplace API
  version: 1.0.0
  description: |
    RESTful API for Koli One vehicle marketplace platform.
    Supports user profiles, listings, messaging, and AI-powered vehicle insights.
  contact:
    name: Koli One Team
    url: https://koli-one.example.com
  license:
    name: Proprietary
    url: https://koli-one.example.com/license

servers:
  - url: https://api.koli-one.com
    description: Production API
  - url: http://localhost:3000
    description: Local development

paths:
  /users/{userNumericId}:
    get:
      operationId: getUserProfile
      tags:
        - Users
      summary: Get user profile by numeric ID
      parameters:
        - name: userNumericId
          in: path
          required: true
          schema:
            type: integer
          description: User's numeric ID
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []

  /users/{userNumericId}/settings:
    get:
      operationId: getUserSettings
      tags:
        - Users
      summary: Get user settings
      parameters:
        - name: userNumericId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: User settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
      security:
        - bearerAuth: []

  /listings:
    post:
      operationId: createListing
      tags:
        - Listings
      summary: Create a new vehicle listing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingCreate'
      responses:
        '201':
          description: Listing created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
      security:
        - bearerAuth: []

  /listings/{listingNumericId}:
    get:
      operationId: getListing
      tags:
        - Listings
      summary: Get listing details by numeric ID
      parameters:
        - name: listingNumericId
          in: path
          required: true
          schema:
            type: integer
          description: Listing's numeric ID
      responses:
        '200':
          description: Listing retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '404':
          description: Listing not found

  /listings/{listingNumericId}/edit:
    put:
      operationId: updateListing
      tags:
        - Listings
      summary: Update listing (seller only)
      parameters:
        - name: listingNumericId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingUpdate'
      responses:
        '200':
          description: Listing updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
      security:
        - bearerAuth: []

  /listings/{listingNumericId}/ai-suggestions:
    get:
      operationId: getAISuggestions
      tags:
        - AI
      summary: Get AI-powered pricing and feature suggestions
      parameters:
        - name: listingNumericId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: AI suggestions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AISuggestions'

  /short-links:
    post:
      operationId: createShortLink
      tags:
        - ShortLinks
      summary: Create a shareable short link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetType:
                  type: string
                  enum: [listing, user]
                targetId:
                  type: string
                expiresInDays:
                  type: integer
                  description: Optional expiry in days
      responses:
        '201':
          description: Short link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  shortCode:
                    type: string
                  shortUrl:
                    type: string
      security:
        - bearerAuth: []

  /s/{shortCode}:
    get:
      operationId: resolveShortLink
      tags:
        - ShortLinks
      summary: Resolve short link and redirect (301 or 302)
      parameters:
        - name: shortCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '301':
          description: Permanent redirect to target
          headers:
            Location:
              schema:
                type: string
        '302':
          description: Temporary redirect to target
          headers:
            Location:
              schema:
                type: string
        '404':
          description: Short code not found or expired

  /health:
    get:
      operationId: healthCheck
      tags:
        - System
      summary: Health check endpoint
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded, down]
                  timestamp:
                    type: string
                    format: date-time

components:
  schemas:
    User:
      type: object
      required:
        - userId
        - userNumericId
        - email
      properties:
        userId:
          type: string
          description: Firebase Auth UID
        userNumericId:
          type: integer
        email:
          type: string
          format: email
        username:
          type: string
        slug:
          type: string
        profile:
          type: object
          properties:
            displayName:
              type: string
            avatar:
              type: string
              format: uri
            trustScore:
              type: number
              minimum: 0
              maximum: 100

    Listing:
      type: object
      required:
        - listingId
        - listingNumericId
        - sellerId
        - brandId
        - modelId
        - year
        - price
        - currency
      properties:
        listingId:
          type: string
        listingNumericId:
          type: integer
        slug:
          type: string
        canonicalUrl:
          type: string
        title:
          type: string
        price:
          type: number
        currency:
          type: string
        year:
          type: integer
        mileage:
          type: integer
        status:
          type: string
          enum: [draft, published, archived, sold]

    ListingCreate:
      type: object
      required:
        - title
        - brandId
        - modelId
        - year
        - price
        - currency
      properties:
        title:
          type: string
        description:
          type: string
        brandId:
          type: string
        modelId:
          type: string
        year:
          type: integer
        price:
          type: number
        currency:
          type: string
        mileage:
          type: integer

    ListingUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        price:
          type: number

    AISuggestions:
      type: object
      properties:
        estimatedPrice:
          type: number
        pricingConfidence:
          type: number
          minimum: 0
          maximum: 100
        qualityScore:
          type: number
        suggestedFeatures:
          type: array
          items:
            type: string

    UserSettings:
      type: object
      properties:
        emailNotifications:
          type: boolean
        pushNotifications:
          type: boolean
        listingVisibility:
          type: string
          enum: [public, private, dealers-only]

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Firebase ID token

tags:
  - name: Users
    description: User profile and settings
  - name: Listings
    description: Vehicle listings
  - name: ShortLinks
    description: Shareable short links
  - name: AI
    description: AI-powered insights
  - name: System
    description: System endpoints
